body {font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.ibb.co/qFLDJQR/Penguins-Repeat.jpg");
    background-repeat: repeat;
}


.transparentBackground{
    background-color: rgba(255,252,221,1);
}

.white{
    color: #f1f1f1;
}

.blackBackground{
    background-color: black;
}

.activeColor{
    color: black;
}


.white:hover{
    color: black;
}