*{
    margin: 0;
    padding: 0;
    font-family: "Mitra Mono";
}

body{
    background-color: cornflowerblue;
}

header{

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li.active a{
    background-color: white;
    color: black;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 5px;
    margin-left: 20px;
}

.eggpictures img{
width:190px;
height:210px;

margin-top: 60px;
margin-left: 100px;
}

.sophiesstuff{
  text-decoration: none;
  color: white;

  border: 1px solid transparent;
  transition: 0.6s ease;
}

.bigpeng{
  width:400px;
  height:450px;

  margin-top: 60px;
  margin-left: 500px;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

html {
  background: cornflowerblue;
  color: #000;
  font-family: Menlo;
}

.controls {
  position: fixed;
  text-align: center;
  top: 1em;
  width: 100%;
}

.button {
  color: #000;
  font-size: 4vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
  color: white;
}

.stopwatch {
  font-size: 20vw;
  height: 100%;
  line-height: 100vh;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
